{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<a class="btn btn-primary" href="{% url 'catalog:create' %}">Создать новый</a>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for product in object_list %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{product.image|url_filter}}" class="img-thumbnail">
                    <div class="card-body">
                        <h3 class="card-text">{{ product.name }}</h3>
                        <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary"><a
                                        href="{% url 'catalog:details' product.pk %}" style="text-decoration: none">Подробнее</a>
                                </button>
                                <!--                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>-->
                            </div>

                        </div>
                        <small class="text-body-secondary">Цена: {{ product.price|floatformat:2 }} ед.</small></br>
                        <small class="text-body">Версия: {{ product.versions.all|curr_version }}</small>
                        <p class="text-body-secondary">К другим товарам категории: <a href="#">
                            {{ product.category }}
                        </a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for page in pages %}
        <li class="page-item"><a class="page-link" href="{% url 'catalog:home' page=page %}">{{ page }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}