{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="card mb-5" style="max-width: 1000px;">
    <div class="row g-0">
        <div class="col-md-4">

            <img src="{{product.image|url_filter}}" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="card-text"><small class="text-body-secondary">Цена: {{ product.price|floatformat:2 }} ед.</small></p>
                <small class="text-body">Версия: {{ version }}</small></br>
                {% if product.user %}
                <small class="text-body">Владелец: {{ user.email }}</small></br>
                {% endif %}
                <div class="btn-group mt-5">
                    <button type="button" class="btn"><a class="btn btn-warning" href="{% url 'catalog:update' product.pk %}" role="button">
                        Изменить
                    </a>
                    </button>
                    <button type="button" class="btn"><a class="btn btn-danger" href="{% url 'catalog:delete' product.pk %}" role="button">
                        Удалить
                    </a>
                    </button>
                </div>
                </br>
                <a href="{% url 'catalog:home' %}" class="btn">Назад</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
