{% extends 'catalog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card col-6 p-3">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-5 mb-3">
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                        {% if object %}
                        <a class="btn btn-secondary"
                           href="{% url 'catalog:details' product.pk %}">Вернуться</a></button>
                        {% else %}
                        <a class="btn btn-secondary" href="{% url 'catalog:home' %}">Вернуться</a>
                        {% endif %}
                    </div>
                </div>
                <div class="card col-6 p-3">
                    {{ formset.management_form }}
                    {% for form in formset %}
                    <div class="p-3">
                        {{ form|crispy }}
                    </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}